<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responsive Timeline Design | CodingNepal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@500;600;700&family=Shantell+Sans&family=Tilt+Warp&display=swap" rel="stylesheet">    
    <style>
        *{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    </style>
</head>
<body>
  <div class="wrapper">
    <div class="center-line">
      <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-home"></i>
        <div class="details">
          <span class="title">MANAGER -CCSE CABINET DE CONSULTING ET SERVICES AUX
            ENTREPRISES</span>
          <span>Décembre 2022 en cours</span>
        </div>
        <p>Animer, superviser et encadrer une équipe,
            diriger la planification stratégique de l'entreprise et élaboration de plans,
            diriger une équipe de consultants et de formateurs pour fournir des solutions de qualité...
            <!-- supérieure aux clients,
            développer de nouveaux partenariats stratégiques avec des entreprises clientes,
            rédiger et fournir des expertises judiciaires,
            gérer les risques et les situations conflictuelles,et
            les systèmes CRM-HRM- ERP -->
           </p>
        <div class="bottom">
          <a href="#">Read more</a>
          <i>- Oujda Maroc</i>
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">CHARGÉ DE CLIENTÈLE-INTELCIA - SERVICE TECHNIQUE</span>
          <span>Nov 2021-Nov 2022</span>
        </div>
        <p>Assister les clients en leurs apportant l’aide et le support nécessaire,
            gérer et optimiser la relation client,et
            résolution des soucis techniques</p>
        <div class="bottom">
          <a href="#">Read more</a>
          <i>- Oujda Maroc</i>
        </div>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-rocket"></i>
        <div class="details">
          <span class="title">ASSISTANTE COMMUNICATION -CSI COMPANY DE SURVEILLANCE ET
            INTERVENTION
            </span>
          <span>JANVIER-MAI 2021</span>
        </div>
        <p>Constitution de dossiers,
            transmission d'informations administratives auprès des partenaires en interne
            et en externe,et
            tenue de tableaux de bord des différents programmes
            </p>
        <div class="bottom">
          <a href="#">Read more</a>
          <i>- Casablanca Maroc</i>
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-globe"></i>
        <div class="details">
          <span class="title">STAGE PFE-TRÉSORERIE GÉNÉRALE DU ROYAUME PERCEPTION</span>
          <span>AVRIL-JUIN 2017 </span>
        </div>
        <p>Stage de fin d’études et d’approfondissement au sein des différents services
            de l’établissement.</p>
        <div class="bottom">
          <a href="#">Read more</a>
          <i>- Oujda Maroc</i>
        </div>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-paper-plane"></i>
        <div class="details">
          <span class="title">STAGE D'INITIATION- SAHAM ASSURANCE</span>
          <span>JUIN-JUILLET 2016</span>
        </div>
        <p>Stage d’initiation et d’approfondissement au sein du département commercial
            de la production automobile du fonctionnement de la chaine de production.</p>
        <div class="bottom">
          <a href="#">Read more</a>
          <i>- Oujda
            Maroc
            </i>
        </div>
      </section>
    </div>
  </div>
</body>
</html>