<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@500;600;700&family=Shantell+Sans&family=Tilt+Warp&display=swap" rel="stylesheet">    
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@500;600;700&family=Shantell+Sans&family=Tilt+Warp&display=swap" rel="stylesheet">
    <title>Rim portofolio</title>
</head>
<body>
    <div class="skill-title">
        <h1>MES COMPETENCES</h1>
    </div>
    <section class="competence">
        <div class="skills-container">
            <div class="cart-skills">
                <img src="../../PUBLIC/IMAGES/Creativity.svg" alt="person">
                <p class="skill">Créativité</p>
            </div>
            <div class="cart-skills">
                <img src="../../PUBLIC/IMAGES/Communication.svg" alt="person">
                <p class="skill">Communication</p>
            </div>
            <div class="cart-skills">
                <img src="../../PUBLIC/IMAGES/Management.svg" alt="person">
                <p class="skill">
                    Management
hybride
                </p>
            </div>
            <div class="cart-skills">
                <img src="../../PUBLIC/IMAGES/Software.svg" alt="person">
                <p class="skill">Software</p>
            </div>
            <div class="cart-skills">
                <img src="../../PUBLIC/IMAGES/teamwork.svg" alt="person">
                <p class="skill">Teamwork</p>
            </div>
            <div class="cart-skills">
                <img src="../../PUBLIC/IMAGES/marketing.svg" alt="person">
                <p class="skill">Marketing
                </p>
            </div>
            <div class="cart-skills">
                <img src="../../PUBLIC/IMAGES/ia.svg" alt="person">
                <p class="skill">Intelligence
                    Artificielle
                </p>
            </div>
            <div class="cart-skills">
                <img src="../../PUBLIC/IMAGES/economic.svg" alt="person">
                <p class="skill">Intelligence
                    économique                    
                </p>
            </div>
        </div>
    </section>
</body>
<script>

</script>
</html>