<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@500;600;700&family=Shantell+Sans&family=Tilt+Warp&display=swap" rel="stylesheet">
    <style>
        *{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    </style>    
    <title>Document</title>
</head>
<body>
    <div class="education">
       <div class="education-details">
            <div class="date">
                JANVIER 2022
            </div>
            <div class="local">
                FACULTÉ DES SCIENCES JURIDIQUES, ÉCONOMIQUES
                ET SOCIALES OUJDA, MAROC
            </div>
            <p class="details">
                Doctorat en cours au sein du Laboratoire Universitaire de Recherches
                en Instrumentation et Gestion des Organisations « LURIGOR »
            </p>
       </div>
       <div class="line">
    </div>
    </div>
    <div class="education">
        <div class="education-details">
             <div class="date">
                2018-2021
             </div>
             <div class="local">
                 FACULTÉ DES SCIENCES JURIDIQUES, ÉCONOMIQUES
                 ET SOCIALES OUJDA, MAROC
             </div>
             <p class="details">
                Master Informatique Appliquée à l’Economie et la Gestion «IAEG»
             </p>
        </div>
        <div class="line">
     </div>
     </div>
     <div class="education">
        <div class="education-details">
             <div class="date">
                2017-2018
             </div>
             <div class="local">
                 FACULTÉ DES SCIENCES JURIDIQUES, ÉCONOMIQUES
                 ET SOCIALES OUJDA, MAROC
             </div>
             <p class="details">
                Licence Fondamentale en Economie & Gestion Parcours Gestion
             </p>
        </div>
        <div class="line">
     </div>
     </div>
     <div class="education">
        <div class="education-details">
             <div class="date">
                2015-2017
             </div>
             <div class="local">
                ECOLE SUPÉRIEURE DE TECHNOLOGIE OUJDA, MAROC
             </div>
             <p class="details">
                DUT en informatique et gestion des entreprises
             </p>
        </div>
        <div class="line">
        </div>
     </div>
     <div class="education">
        <div class="education-details">
             <div class="date">
                2014-2015
             </div>
             <div class="local">
                ECOLE L’ESCALADE SCHOOL CASABLANCA,MAROC
             </div>
             <p class="details">
                Baccalauréat Sciences Physiques 2014-2015
             </p>
        </div>
     </div>
</body>
</html>